header{
    color:darkgray;
    text-align:center;
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    background-color:darkcyan;
    margin: 5%;;
    
}
body{
    background-color:darkslategray;;
}
div{
    background-color: dimgray;
    margin: 5%;
    padding:20px;
}
    
